html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	display: flex;
	background-image: linear-gradient(120deg, #323432, #9d9fc9);
	color: white;
	font-family: "Coda Caption", sans-serif;
}

div.display {
	width: 100%;
	display: flex;
}

div.gameBtns {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.endBtns {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

#preQuit {
	position: absolute;
}

#nextId {
	position: fixed;
	bottom: 30%;
	opacity: 1;
	display: flex;
	justify-content: center;
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 2rem;
}

#nextId:hover {
	transition: all 0.2 ease;
	transform: scale(1.2);
}

button.startBtn {
	margin: 2px;
	display: table-cell;
	background: transparent;
	color: white;
	font-family: "Coda Caption", sans-serif;
	cursor: pointer;
}

#nextId:focus {
	outline: 0;
}

button.startBtn:hover {
	transform: scale(1.2);
}

button.startBtn:focus {
	outline: 0;
}

.inputbtn {
	margin: 15px;
	text-align: center;
	border: 10px solid black;
	border-radius: 10px;
	background: transparent;
	font-size: 0rem;
	cursor: pointer;
}

.inputbtn:hover {
	transition: all 0.2 ease;
	transform: scale(1.2);
	box-shadow: 0 0 10px black;
}

.winner {
	border-color: green;
}

.loser {
	border-color: red;
}

.inputbtn:focus {
	outline: 0;
}

.started {
	font-size: 6rem;
	transition: 0.3s ease;
}

.fall {
	transform: translateY(5rem);
	opacity: 0%;
	transition: all 0.3s ease;
}

div.scores {
	height: 25%;
	position: fixed;
	bottom: 0%;
	width: 100%;
	opacity: 1;
}

.displayClass {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 25%;
	font-size: xx-large;
}

.scoreClass {
	display: flex;
	justify-content: center;
	font-size: x-large;
}

.youClass {
	width: 25%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.compClass {
	margin-left: 75%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
